<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- 인터넷 접근 권한을 요청하는 태그 추가 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Team_project"
        tools:targetApi="34">

        <activity
            android:name=".SignUpActivity">
        </activity>

        <!-- LoginActivity가 앱의 시작 화면으로 설정됩니다. -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- MainActivity의 정의는 그대로 유지하되, LAUNCHER 카테고리를 제거합니다. -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".Chat.ActivityChat"
            android:exported="true">
        </activity>
    </application>

</manifest>
